/* Toolbar fixa no topo */
.custom-toolbar {
  /*background-color: #163334;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 16px;*/
}

.custom-toolbar {
  position: fixed;             /* Fixar no topo da janela */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;               /* Garantir que fique acima de tudo */
  background-color: #163334;
  color: white;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Conteúdo da toolbar */
.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

/* Logo */
.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 48px;
  margin-right: 16px;
}

/* Espaço entre logo e botões */
.spacer {
  flex: 1 1 auto;
}

/* Botões de autenticação */
.auth-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.auth-buttons button {
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: white !important;
  display: flex;
  align-items: center;
  padding: 4px 12px;
}

.icon-centered {
  font-size: 24px;
  margin-right: 6px;
  position: relative;
  top: 2px;
}

/* Responsivo */
@media (max-width: 600px) {
  .auth-buttons button {
    margin-left: 4px;
    padding: 0 8px;
    font-size: 12px;
  }

  .logo {
    height: 32px;
  }
}
