.single-cards {
  margin: 20px 0;
}

.single-card .mat-card-avatar {
  width: 50px;
  height: 50px;
}

.single-card .mat-icon {
  font-size: 55px;
}

.projects-card>mat-card-content {
  max-height: 400px;
  overflow: auto;
}


.donation-card {
  margin-bottom: 20px;
  max-width: 300px;
}

.donation-image {
  height: 200px;
  object-fit: cover;
}

mat-card-content p {
  margin: 10px 0;
}

.container {
  padding: 20px;
}