table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}


/** input valor  INI */
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  
/** input valor  END */